    body {
      background-color: #000000;
      color: #7B9EA8;
      text-align: center;
      font-size: 30px;
    }
    
    a {
    	color: #fff;
        text-decoration: none;
    } 
    
    li {
        padding: 20px;
        border-radius: 67px;
		background: linear-gradient(145deg, #84a9b4, #6f8e97);
		box-shadow:  5px 5px 10px #69868f,
             -5px -5px 10px #8db6c1;
    }
    
    
    li:hover {
		background: linear-gradient(145deg, #6f8e97, #84a9b4);
        cursor: pointer;
    }
    
    ul {
		list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px;
    }
    
    ul li {
    	margin-bottom: 15px;
        margin-top: 15px;
    }
    
    div {
    	position: relative;
        border: 5px solid #7B9EA8;
        width: 600px; 
        text-align: center; 
        margin: auto;
        padding: 10px;
    }
    
    h1 a:hover {
    	color: #fff;
        transition: 0.3s;
    }
    
    h2 {
    	margin-bottom: 50px;
        text-align: center;
    }
    
    @media only screen and (max-width: 445px) {
        ul {
        	justify-content: center;
        }
	}
    
    
    @media only screen and (min-width: 445px) and (max-width: 640px) {
  		div {
    		width: 400px;
  		}
	}
    
    @media only screen and (max-width: 445px) {
  		div {
        	width: 70vw;
        }
	}
    
    @media only screen and (min-width: 165px) and (max-width: 240px) {
        a {
    		font-size: 10vw;
  		}
        
        
	}
    
    @media only screen and (max-width: 165px) {
        a {
    		font-size: 14vw;
  		}
	}
    
    @media only screen and (max-width: 240px) {
        li {
        	padding: 10vw;
        }
	}

	button {
    	font-size: 20px;
        border: none;
        color: #D8D2E1;
        outline: none;
        padding: 20px;
        margin: 15px;
        border-radius: 67px;
		background: linear-gradient(145deg, #8ca292, #76887a);
		box-shadow:  5px 5px 10px #546157,
             -5px -5px 10px #b2cdb9;
    }
    
    button:hover {
    	background: linear-gradient(145deg, #76887a, #8ca292);
        cursor: pointer;
    }
    
    select {
    	background-color: #000000;
        color: #7B9EA8;
        border-color: #7B9EA8;
    }

    select, input {
        font-size: 17px;
    }
    
    input {
    	width: 100px;
        backround-color: #D8D2E1;
        color: #839788;
        font-weight: bold;
    }
    
    input[type=number] {
    	width: 40px;
    }
    

    
    @media only screen and (min-width: 143px) and (max-width: 500px) {
    	input {
        	width: 30vw;
        }
        
        button {
        	font-size: 7vw;
        }
    }
    
    @media only screen and (max-width: 143px) {
    	input {
        	width: 100%;
        }
    }
    
    button {
      color: #7B9EA8;
      background-color: #000000;
      border-color: #7B9EA8;
    }
    
    table, td {
      border: 1px solid #000000;
    }
    
    td:hover {
      background-color: #7B9EA8;
      color: #000000;
    }
    
    tr:hover {
      background-color: #B5C9CF;
      color: #000000; 
    }
    
    th {
      font-size: 30px;
    }
    
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #7B9EA8;
      text-align: left;
      padding: 8px;
    }
